<!--footer.ejs - Ishan Gangji - 300784236 - 2020-10-08 -->
<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="/">Back To Start</a>
        </p>
        <p>Ishan Gangji &copy; 2020</p>
    </div>
</footer>