<!--navbar.ejs - Ishan Gangji - 300784236 - 2020-10-08 -->
<!--Navbar-->
<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light">
    <!--Logo Insertion-->
    <a href="/"><img src="/assets/images/logo.jpeg" class="rounded" alt="Logo" width="100"> </a>

    <!--Creating Hamburger 
        (note: the div that you want to be toggled must be the same as the data-target)
    -->
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
        <!--navbar-toggler-icon = Hamburger Icon-->
    </button>

    <!--Main navbar division-->
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ml-auto">
            <!-- ml-auto will place nav items on the right-->
            <li class="nav-item">
                <a href="/about" class="nav-link">About Me</a>
            </li>
            <li class="nav-item">
                <a href="/projects" class="nav-link">Projects Page</a>
            </li>
            <li class="nav-item">
                <a href="/services" class="nav-link">Services Page</a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="nav-link">Contact Page</a>
            </li>

            <% if(auth) {%>
                <li class="nav-item"><a href="/client/list" class="nav-link" id="displayName">
                     <%= displayName %></a>
                </li>
                <li class="nav-item"><a href="/logout" class="nav-link">
                    Logout <i class="fas fa-lg fa-sign-out-alt"></i></a>
                </li>
              <% } else { %>
                <li class="nav-item"><a href="/login" class="nav-link">
                 Login <i class="fas fa-lg fa-sign-in-alt"></i></a></li>
            <% } %>
            
        </ul>
    </div>
</nav>