<!--navbar.ejs - Ishan Gangji - 300784236 - 2020-10-08 -->
<!--Navbar-->
<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light">
    <!--Logo Insertion-->
    <a href="/"><img src="/assets/images/logo.jpeg" class="rounded" alt="Logo" width="100"> </a>

    <!--Creating Hamburger 
        (note: the div that you want to be toggled must be the same as the data-target)
    -->
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
        <!--navbar-toggler-icon = Hamburger Icon-->
    </button>

    <!--Main navbar division-->
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ml-auto">
            <!-- ml-auto will place nav items on the right-->
            <li class="nav-item">
                <a href="/clients" class="nav-link">Login</a>
            </li>
        </ul>
    </div>
</nav>