<!--home.ejs - Ishan Gangji - 300784236 - 2020-10-08 -->
<div class="container">

    <div class=" home jumbotron text-center">
        <h1>Welcome to Ishans' Portfolio</h1>
        <p>
            Mission statement <br>I want to be able to develop applications to help people by making their lives easier!
            <hr>
        </p>

        <button type="button" class="btn btn-primary"><a href="/about">About Me Page</a></button>
        <button type="button" class="btn btn-secondary"><a href="/projects">Projects Page</a></button>
        <button type="button" class="btn btn-success"><a href="/services">Services Page</a></button>
        <button type="button" class="btn btn-danger"><a href="/contact">Contact Page</a></button>
    </div>

    <div class="text-center">
        <button type="button" class="btn btn-outline-primary" data-toggle="collapse" href="#buttons">
            Fun Facts
        </button>
        <div class="container">

            <div id="buttons" class="collapse in">
                <br>

                <div class="row">

                    <!-- Fun Facts -->
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="https://rateyourmusic.com/release/album/kendrick-lamar/good-kid-m_a_a_d-city-6/"
                                target="_blank">
                                <img src="/assets/images/gkmc.jpeg" alt="good kid, m.A.A.d city" style="width:100%">
                                <div class="caption">
                                    <p>Favorite Album</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="https://www.imdb.com/title/tt6751668/" target="_blank">
                                <img src="/assets/images/parasite.jpeg" alt="Parasite" style="width:100%;">
                                <div class="caption">
                                    <p>Favorite Movie</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="https://www.metacritic.com/game/playstation-4/sekiro-shadows-die-twice"
                                target="_blank">
                                <img src="/assets/images/sekiro.jpeg" alt="sekiro" style="width:100%">
                                <div class="caption">
                                    <p>Favorite Game</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>