<!--page-content.ejs - Ishan Gangji - 300784236 - 2020-10-08 -->
<section class=" about-me jumbotron text-center">
    <div class="container">
    <h1>Projects</h1>
    <hr>
</section>
  
<div class="container">
    <!--Creating a Carousel With 2 indexes-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin: 0;">
        
        <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <div class="container">
            <div class="carousel-inner text-center" style="margin: 1;">
                <div class="carousel-item active">
                        <div class="carousel-caption text-center" id="carousel">
                            <h1>Servo motor</h1>
                            <a href="/assets/images/ServoMotor.jpeg" target="_blank"><p>Link</p></a>
                        </div>
                </div>
                <div class="carousel-item">
                        <div class="carousel-caption"id="carousel">
                            <h1>Temperature Sensor.</h1>
                            <a href="/assets/images/temperature.jpeg" target="_blank"><p>Link</p></a>
                         </div>
                </div>
        </div>
        




        
        </div>
    </div>
</div>