<!--services-content.ejs - Ishan Gangji - 300784236 - 2020-10-08 -->
<section class=" about-me jumbotron text-center">
    <div class="container">
    <h1>Services</h1>
    <hr>
</section>
<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
    <div class="row" style="justify-content: center">
        
        <div class="card col-md-5 col-12">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="/assets/images/csharp.jpeg" width="200px" " />
                    <div class="shadow"></div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">In Centennial C# was introduced to me, now im building my skills to understand how to program better!</small> </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-md-5 col-12 ml-2">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="/assets/images/mobile.png"  width="200px" height="200px"/>
                    <div class="card-subtitle">
                        <br>
                        <p> <small class="text-muted"> I want to become an app developer in the future! </small> </p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>