h1 {
  color: black;
}

/* About */
.jumbotron {
  padding-top: 3rem;
  margin-bottom: 20px;
  background-color: #fff;
}
.jumbotron .container {
  max-width: 40rem;
}
.jumbotron {
  padding-top: 6rem;
}

/*HO*/
.home {
  margin: 20px;
  height: max-content;
  background-image: url("/assets/images/background.jpg");
  background-size: cover;
}

.home h1 {
  /* margin: 75px; */
  color: yellow;
}

.home p {
  color: white;
}
.jumbotron .home {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
/*-------------------------------------------------*/

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

form {
  padding: 50px;
  border-color: lightblue;
  border-style: double;
  border-radius: 25px;
}

label {
  color: black;
}

/* Carousel base class */
.carousel {
  padding: 0;
  margin-top: 0;
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel-inner p {
  color: black;
  font-weight: bold;
}
.carousel-inner h1 {
  color: orange;
  font-weight: bold;
}

#carousel {
  background-color: whitesmoke;
}

h4 {
  color: black;
}

.btn a {
  color: white;
}
#displayTag {
  color: red;
  font-weight: 700;
}
