<main class="container">

  <%- include('../partials/messages.ejs') %>

  <div class="row">   
    <div class="offset-md-3 col-md-6">
      <form method="POST" autocomplete="off" style="margin-top: 20px;">
        
        <h1 class="text-center">Login <i class="fa fa-lock" aria-hidden="true"></i></h1>
        
        <fieldset class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control"
          name = "username" placeholder="Enter username" id="username" required
          >
        </fieldset>

        <fieldset class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control"
          name = "password" placeholder="Enter password" id="password" required
          >
        </fieldset>

        <a href="register">Register here!</a>

        <fieldset class="for-group text-right">
          <input type="submit" class="btn btn-success" value="Login">
          <a href="/">
            <input type="button" class="btn btn-warning" value="Cancel"></input>
          </a>
        </fieldset>

      </form>
    </div>
  </div>
</main>
  