<!--about-content.ejs - Ishan Gangji - 300784236 - 2020-10-08 -->
<section class=" about-me jumbotron text-center">
    <div class="container">
        <h1>About Me</h1>
        <hr>
        <img src="/assets/images/my-picture.jpeg" alt="Logo" style="width:50%">
        <p class="lead text-muted">
            Hi, my name is Ishan Gangji. I am currently studying Software Engineering at Centennial College.
            <br>
            I am really interesting in developing applications that will help make people lives and my life easier!
        </p>
        <p>
            <a href="/assets/Resume.pdf" target="_blank" class="btn btn-primary my-2">Resume</a>
        </p>
    </div>
</section>